/* body{
    background-color: rgb(213, 255, 162);
}
#heading{
    color: rgb(91, 91, 245);
}
p{

}
button{
    color: rgb(255, 255, 255);
    background-color: rgb(14, 163, 123);
    font-size: 20px;
} */


/* pratice */
/* .content{
    color: burlywood;
}

.newClass{
    background-color: rgb(181, 234, 127);
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    color: turquoise;
    border: 1px solid black;
} */


.dark{
    background-color: green;
    color: black;
}

.light{
    background-color: yellow;
    color: blue;
}